<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order a Pet</title>
</head>
<body>
<h1>Order a Pet</h1>
<form action="#" method="post">
    <label for="pet-type">What kind of pet would you like to order?</label>
    <input id="pet-type" type="text" name="pet"><br>

    <label for="color">Select a color</label>
    <select id="color" name="color">
        <option value="black">Black</option>
        <option value="white">White</option>
        <option value="brown">Brown</option>
    </select><br>

    <label>Choose a pet type</label><br>
    <label><input type="radio" name="type" value="robotic">robotic</label><br>
    <label><input type="radio" name="type" value="stuffed">stuffed</label><br>

    <button type="submit">Place Order</button>
</form>
</body>
</html>