<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robotic pet order</title>
</head>
<body>
    <form method="post" action="#">
        <label>Choose accessories</label><br>
        <input type="checkbox" value="Extra Battery Packs" name="accessories[]" id="battery">
        <label for="battery">Extra Battery Packs</label> <br>
        <input type="checkbox" value="Charging Dock" name="accessories[]" id="charging">
        <label for="charging">Charging Dock</label> <br>
        <input type="checkbox" value="Voice Module" name="accessories[]" id="voice">
        <label for="voice">Voice Module</label> <br>
        <input type="checkbox" value="Camera Attachment" name="accessories[]" id="camera">
        <label for="camera">Camera Attachment</label> <br>
        <input type="checkbox" value="Remote Control" name="accessories[]" id="remote">
        <label for="remote">Remote Control</label> <br>
        <input type="checkbox" value="Custom Skins" name="accessories[]" id="skins">
        <label for="skins">Custom Skins</label> <br>
        <input type="checkbox" value="Bluetooth Speaker Module" name="accessories[]" id="speaker">
        <label for="speaker">Bluetooth Speaker Module</label> <br>


        <button type="submit">Submit</button>
    </form>
</body>
</html>