<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuffed pet order</title>
</head>
<body>
    <form method="post" action="#">
        <label>Choose a size</label> <br>
        <label><input type="radio" name="size" value="small">small</label> <br>
        <label><input type="radio" name="size" value="medium">medium</label> <br>
        <label><input type="radio" name="size" value="large">large</label> <br>

        <label>Choose a stuffing type</label> <br>
        <label><input type="radio" name="stuffing" value="polyester">Polyester</label> <br>
        <label><input type="radio" name="stuffing" value="cotton">Cotton</label> <br>
        <label><input type="radio" name="stuffing" value="wool">Wool</label> <br>

        <label for="material">Choose a material</label> <br>
        <input id="material" name="material" type="text"> <br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>